Assets/TextMesh\ Pro/Resources/Shaders/* linguist-vendored
*.unity linguist-language=Unity3D-Asset
*.anim linguist-language=Unity3D-Asset
*.asset linguist-language=Unity3D-Asset
*.mask linguist-language=Unity3D-Asset
*.mat linguist-language=Unity3D-Asset
*.meta linguist-language=Unity3D-Asset
*.prefab linguist-language=Unity3D-Asset
