Assets/TextMesh\ Pro/Resources/Shaders/* linguist-vendored
*.unity linguist-vendored=false
*.anim linguist-vendored=false
*.asset linguist-vendored=false
*.mask linguist-vendored=false
*.mat linguist-vendored=false
*.meta linguist-vendored=false
*.prefab linguist-vendored=false
